@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;700&display=swap');

body{
    font-family: 'Nunito Sans', sans-serif;
    margin:0px;
}

:root{
    --primary-color: #fb7185;
    --dark-gray:#64748b;
    --off-white:#e5e7eb;
    
}
.container{
    padding-left: 1rem;
    padding-right: 2rem;
}

.container-center{
    margin: auto;
    max-width: 500px;
}

.link{
    text-decoration: none;
    padding:0.5rem 1rem;
}

.link-primary{
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    color:white;
    border-radius: 0.5rem;

}

.link-secondary{
    /* background-color: var(--secondary-color); */
    padding: 0.5rem 1rem;
    border:1px solid var(--primary-color);
    color:var(--primary-color);
    border-radius: 0.5rem;

}

hr{
    margin:2rem 0rem;
}


.list-non-bullet{
    list-style:none;
}

.list-item-inline{
    display:inline;
}

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding:1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .nav-brand{
    font-weight:bold;
    font-size: 1.2rem;
}

.navigation .link{
    color:white;
}

.navigation .link-active{
    font-weight:bold;

}

/* .hero{
    margin:auto;
} */

.span{
color: var(--primary-color);
}
.hero-img{
max-width: 500px;
padding-top: 1rem ;
/* text-align:center; */

}

.hero-header{
    color:var(--dark-gray);
}

.section{
 padding:2rem;
}
.section-ow{
    background-color:var(--off-white);
    padding:2rem;
}

.footer{
background-color: var(--primary-color);
color:white;
padding:1rem;
text-align: center;
border-top-right-radius: 1rem;
}

.footer .footer-container{
    font-size: 20px;
    font-weight: bold;
}

.footer .link{
    color:white;
}